<div>

        <label for="title">Title:</label><br>
        <input required type="title" id="title" name="title" value="Book Title"><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author" value="Author"><br>

        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender" value="Gender"><br>

        <label for="desc">Description:</label><br>
        <input type="text" id="desc" name="desc" value="Description"><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year" value="Year"><br>

        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" value="Price"><br>

        <a href="/" class="btn btn-secondary">Cancel</a>
        <input type="submit" name="submit" class="btn btn-primary" value="Submit">

</div>